In [0]:
import pandas as pd
import numpy as np

In [0]:
SNS_all = pd.DataFrame()
for i in range(1,9):
    a = pd.read_excel('/Users/Neun/Desktop/bigcon/innovation/SNS데이터/SNS_{}.xlsx'.format(i))
    SNS_all = pd.concat([a, SNS_all], axis=0)

SNS_all.head()

,DOCID,SECTION,DATE,TITLE,CONTENT
0,204667176,카페,20190204000000,구제역은 재난문자 보내면서 미세먼지는,지금까지 미세먼지로 재난문자 받은적이 한번도 없는데 재난문자 항목중에 대기오염은 없...
1,204667205,카페,20190204000000,미세먼지마스크 슈슈마스크 정말 빨아써도 되나요,미세먼지마스크를 하나 사려고 하거든요 나름 괜찮은 마스크를 사려고 알아봤는데 티엘마...
2,204667233,카페,20190204000000,7차 진행 다이슨 무선청소기 V6 앱솔루트 헤파 정품 새상품 최저가 택포 추가3종...,7차 진행 다이슨 무선청소기 V6 앱솔루트 헤파 정품 새상품 최저가 택포 추가3종...
3,204667268,카페,20190204000000,2019년02월04일월 반송자율방범대 기해년 설 명절 기간 자율방범순찰활동,◐반송자율방범대 기해년 설 명절기간 자율방범순찰활동◑ 일시 2019년02월...
4,204667314,카페,20190204000000,만5살인 딸에게 고민을 털어놓습니다 어디서 살고 싶니,2019년이 시작되고 더 깊어진 고민 어디서 살아야 할지 올해는 결정을 해야 합니다...

In [0]:
SNS_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777832 entries, 0 to 176872
Data columns (total 5 columns):
DOCID      777832 non-null int64
SECTION    777832 non-null object
DATE       777832 non-null int64
TITLE      777699 non-null object
CONTENT    772910 non-null object
dtypes: int64(2), object(3)
memory usage: 35.6+ MB

In [0]:
SNS_all.describe(include='all')  

# CONTENT unique값=716266인 이유?
# 카페 글 같은 경우 동일한 사람이 동일한 내용의 글을 여러 카페에 쓰는 경우 있었음 + 결측값때문인듯?
# 섹션 별로 나눠서 다시 확인해보자,,

               DOCID SECTION          DATE   TITLE CONTENT
count   7.778320e+05  777832  7.778320e+05  777699  772910
unique           NaN       3           NaN  661503  716266
top              NaN     블로그           NaN    미세먼지
freq             NaN  302903           NaN    5188    1982
mean    2.045060e+08     NaN  2.018359e+13     NaN     NaN
std     3.572903e+05     NaN  4.307979e+09     NaN     NaN
min     2.039436e+08     NaN  2.018040e+13     NaN     NaN
25%     2.042032e+08     NaN  2.018062e+13     NaN     NaN
50%     2.044465e+08     NaN  2.018102e+13     NaN     NaN
75%     2.047969e+08     NaN  2.019012e+13     NaN     NaN
max     2.053957e+08     NaN  2.019033e+13     NaN     NaN

In [0]:
SNS_all['SECTION'].value_counts()

블로그    302903
카페     285658
뉴스     189271
Name: SECTION, dtype: int64

---
## 블로그

In [0]:
blog = SNS_all[SNS_all['SECTION'] == '블로그']
blog.head()

,DOCID,SECTION,DATE,TITLE,CONTENT
669,204630158,블로그,20190217000000,20190216 다이어트일기 DAY327,다이어트일기 20190216 다이어트일기 DAY327 뷰스타 디이니 2019 2 ...
670,204630288,블로그,20190217000000,한전KPS 문재인 정부 탈원전 정책은 매수기회일까 배당,그린슈트 투자스토리 한전KPS 문재인 정부 탈원전 정책은 매수기회일까 배당 과대낙폭...
671,204630763,블로그,20190217000000,아직은 살만한 세상,매일매일 아직은 살만한 세상 은캐랠리 2019 2 17 2354 URL 복사 이웃...
672,204630907,블로그,20190217000000,시사원정대 읽고 신문일기 쓰고 최신뉴스에 관심을 가져요,□ 시사원정대 시사원정대 읽고 신문일기 쓰고 최신뉴스에 관심을 가져요 널그리다 2...
673,204631071,블로그,20190217000000,수경재배 가능한 필레아페페로미오이데스,동그랗게 생긴 잎에 점이 하나 콕 하고 찍혀 있는 모습이 귀여운 필레아페페로...

In [0]:
blog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302903 entries, 669 to 176872
Data columns (total 5 columns):
DOCID      302903 non-null int64
SECTION    302903 non-null object
DATE       302903 non-null int64
TITLE      302800 non-null object
CONTENT    302548 non-null object
dtypes: int64(2), object(3)
memory usage: 13.9+ MB

In [0]:
blog.describe(include='all')  # 다 CONTENT unique가 작네,,

               DOCID SECTION          DATE   TITLE CONTENT
count   3.029030e+05  302903  3.029030e+05  302800  302548
unique           NaN       1           NaN  287675  298708
top              NaN     블로그           NaN    미세먼지
freq             NaN  302903           NaN     371    1899
mean    2.042086e+08     NaN  2.018337e+13     NaN     NaN
std     1.444556e+05     NaN  4.201799e+09     NaN     NaN
min     2.039436e+08     NaN  2.018040e+13     NaN     NaN
25%     2.040911e+08     NaN  2.018062e+13     NaN     NaN
50%     2.042128e+08     NaN  2.018101e+13     NaN     NaN
75%     2.043347e+08     NaN  2.019011e+13     NaN     NaN
max     2.047125e+08     NaN  2.019033e+13     NaN     NaN

In [0]:
blog = blog[blog['CONTENT'].notna()]
blog.info()  # content 결측값 잘 지워짐,,

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302548 entries, 669 to 176872
Data columns (total 5 columns):
DOCID      302548 non-null int64
SECTION    302548 non-null object
DATE       302548 non-null int64
TITLE      302445 non-null object
CONTENT    302548 non-null object
dtypes: int64(2), object(3)
memory usage: 13.8+ MB

In [0]:
blog.to_excel('blog.xlsx')

---
## 뉴스

In [0]:
news = SNS_all[SNS_all['SECTION'] == '뉴스']
news.head()

,DOCID,SECTION,DATE,TITLE,CONTENT
788,204698529,뉴스,20180721000000,산림청 숲 속의 대한민국 만들기 추진계획 발표,산림청청장 김재현은 7월 17일 청장 취임 1주년을 맞아 새로운 산림정책 마스터플랜...
789,204698534,뉴스,20180721000000,사설환경·에너지정책 공은 넘겨졌다,투데이에너지 국회가 상임윈원회 인선을 마무리지었다 이 가운데 현 정부의 중점사안인 ...
790,204698539,뉴스,20180721000000,내일22일 전국에 최악 폭염습기 폭탄 계속된다 서울 낮 최고 37도,뉴스1 인사이트 최해리 기자 일요일인 22일은 전국에 폭염이 계속되는 가운데 습도...
791,204698543,뉴스,20180721000000,내일22일 오전 오후 날씨 전국 열대야는 계속폭염도 쭉,사진YTN뉴스 방송화면 내일22일 오전 오후 날씨가 화제다 21일 기상청에 따르면 ...
792,204698548,뉴스,20180721000000,내일22일 날씨 사람 체온보다 높다···낮 최고기온 37도,ⓒ MBC 뉴스 화면 공유경제신문 김신익 기자 일요일인 내일22일은 전국이 맑은 가...

In [0]:
news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189271 entries, 788 to 151124
Data columns (total 5 columns):
DOCID      189271 non-null int64
SECTION    189271 non-null object
DATE       189271 non-null int64
TITLE      189271 non-null object
CONTENT    189004 non-null object
dtypes: int64(2), object(3)
memory usage: 8.7+ MB

In [0]:
sum(news['CONTENT'].isna())  # 뉴스 CONTENT 결측값 개수,,

267

In [0]:
news.describe(include='all')  # CONTENT unique값  왜이리 작아,,

               DOCID SECTION          DATE   TITLE  CONTENT
count   1.892710e+05  189271  1.892710e+05  189271   189004
unique           NaN       1           NaN  174647   181410
top              NaN      뉴스           NaN      날씨  UP DOWN
freq             NaN  189271           NaN      95       40
mean    2.047850e+08     NaN  2.018363e+13     NaN      NaN
std     3.359891e+05     NaN  4.320402e+09     NaN      NaN
min     2.039447e+08     NaN  2.018040e+13     NaN      NaN
25%     2.046025e+08     NaN  2.018062e+13     NaN      NaN
50%     2.048184e+08     NaN  2.018103e+13     NaN      NaN
75%     2.050548e+08     NaN  2.019012e+13     NaN      NaN
max     2.053957e+08     NaN  2.019033e+13     NaN      NaN

In [0]:
news = news[news['CONTENT'].notna()]
news.info()  # content 결측값 잘 지워짐,,

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189004 entries, 788 to 151124
Data columns (total 5 columns):
DOCID      189004 non-null int64
SECTION    189004 non-null object
DATE       189004 non-null int64
TITLE      189004 non-null object
CONTENT    189004 non-null object
dtypes: int64(2), object(3)
memory usage: 8.7+ MB

In [0]:
news.to_excel('news.xlsx')

---
## 카페

In [0]:
cafe = SNS_all[SNS_all['SECTION'] == '카페']
cafe.head()

,DOCID,SECTION,DATE,TITLE,CONTENT
0,204667176,카페,20190204000000,구제역은 재난문자 보내면서 미세먼지는,지금까지 미세먼지로 재난문자 받은적이 한번도 없는데 재난문자 항목중에 대기오염은 없...
1,204667205,카페,20190204000000,미세먼지마스크 슈슈마스크 정말 빨아써도 되나요,미세먼지마스크를 하나 사려고 하거든요 나름 괜찮은 마스크를 사려고 알아봤는데 티엘마...
2,204667233,카페,20190204000000,7차 진행 다이슨 무선청소기 V6 앱솔루트 헤파 정품 새상품 최저가 택포 추가3종...,7차 진행 다이슨 무선청소기 V6 앱솔루트 헤파 정품 새상품 최저가 택포 추가3종...
3,204667268,카페,20190204000000,2019년02월04일월 반송자율방범대 기해년 설 명절 기간 자율방범순찰활동,◐반송자율방범대 기해년 설 명절기간 자율방범순찰활동◑ 일시 2019년02월...
4,204667314,카페,20190204000000,만5살인 딸에게 고민을 털어놓습니다 어디서 살고 싶니,2019년이 시작되고 더 깊어진 고민 어디서 살아야 할지 올해는 결정을 해야 합니다...

In [0]:
sum(cafe['CONTENT'].isna())  # 카페 CONTENT 결측값 개수,,

4300

In [0]:
cafe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285658 entries, 0 to 168314
Data columns (total 5 columns):
DOCID      285658 non-null int64
SECTION    285658 non-null object
DATE       285658 non-null int64
TITLE      285628 non-null object
CONTENT    281358 non-null object
dtypes: int64(2), object(3)
memory usage: 13.1+ MB

In [0]:
cafe.describe(include='all')

,DOCID,SECTION,DATE,TITLE,CONTENT
count,2.856580e+05,285658,2.856580e+05,285628,281358
unique,NaN,1,NaN,208979,236569
top,NaN,카페,NaN,미세먼지,2030년까지 달 기지에 우주인 보내고 화성 탐사도 계획 원본보기인류 최초로 보는...
freq,NaN,285658,NaN,4813,563
mean,2.046365e+08,NaN,2.018381e+13,NaN,NaN
std,2.971586e+05,NaN,4.398326e+09,NaN,NaN
min,2.039440e+08,NaN,2.018040e+13,NaN,NaN
25%,2.044733e+08,NaN,2.018062e+13,NaN,NaN
50%,2.046614e+08,NaN,2.018111e+13,NaN,NaN
75%,2.048726e+08,NaN,2.019012e+13,NaN,NaN
max,2.051602e+08,NaN,2.019033e+13,NaN,NaN

In [0]:
cafe = cafe[cafe['CONTENT'].notna()]
cafe.info()  # content 결측값 잘 지워짐,,

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281358 entries, 0 to 168314
Data columns (total 5 columns):
DOCID      281358 non-null int64
SECTION    281358 non-null object
DATE       281358 non-null int64
TITLE      281328 non-null object
CONTENT    281358 non-null object
dtypes: int64(2), object(3)
memory usage: 12.9+ MB

In [0]:
cafe.to_excel('cafe.xlsx')

---